// APP Base Variables

//Viewport sizes
$base-width: 1440;
$lg-width: 1200px;
$md-width: 992px;
$sm-width: 768px;
$xs-width: 480px;
$xxs-width: 320px;

//colors
$white: #fff;
$black: #000;
$grey: #ccc;
