<!doctype html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />

    <title><%= name %></title>
    <meta name="description" content="<%= description %>" />

    <!-- Favicon (16x16) -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <% if (mobile) { %>
    <!-- App Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/ico/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/ico/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/ico/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/ico/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/ico/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/ico/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/ico/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/ico/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/ico/apple-icon-180x180.png" />

    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/ico/android-icon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/ico/android-icon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/ico/android-icon-96x96.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/ico/android-icon-192x192.png" />

    <!-- Browser UI color -->
    <meta name="msapplication-TileImage" content="assets/img/ico/ms-icon-144x144.png" />
    <% if(color && color !== 'none') { %>
    <meta name="msapplication-TileColor" content="<%= color %>" />
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= color %>">
    <meta name="theme-color" content="<%= color %>">
    <% } %>

    <!-- Android manifest -->
    <link rel="manifest" href="manifest.json" />
    <% } %>

    <!-- App stylesheet -->
    <link rel="stylesheet" type="text/css" href="assets/css/app.css" />

</head>

<body>
    <!-- Content begin -->

    <!-- replace the lines between this line -->
    <h1>Welcome to <%= name %></h1>
    <h3>Customizing it:</h3>
    <dl>
        <dt>HTML:</dt>
        <dd>Edit the main HTML file located at <em>app/index.html</em> <small>(this file)</small></dd>
        <dt>CSS:</dt>
        <dd>Edit the main SCSS file located at <em>app/assets/scss/layout.scss</em> or create your own .scss file and include it in <em>app/assets/scss/app.scss</em></small></dd>
        <dt>JS:</dt>
        <dd>Edit the main JS file located at <em>app/assets/js/app.src.js</em> or create your own .src.js file and include it manually in <em>app/index.html</em></small></dd>
    </dl>
    <footer>Generated with <a href="https://github.com/rerodrigues/generator-quick-server">generator-quick-server</a> by <a href="https://about.me/renato.rodrigues">Renato Rodrigues</a></footer>

    <style>
        h1 { font-size: 40px; margin-bottom: 30px; }
        h3 { font-size: 20px; margin-bottom: 12px; }
        dl { font-size: 14px; }
        dt { font-weight: bold; margin-top: 12px;}
        footer { margin-top: 50px; font-size: 10px; font-style: italic; }
        body { width: 80%; margin-left: 50%; margin-top: 2%; transform: translateX(-50%);
               border: 1px solid #BBB; padding: 5%; }
    </style>

    <!-- and this line with your content -->

    <!-- Content end -->

    <script src="assets/js/app.min.js"></script>
</body>
</html>
