<!doctype html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />

    <title><%= name %></title>
    <meta name="description" content="<%= description %>" />

    <!-- Favicon (16x16) -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!-- App stylesheet -->
    <link rel="stylesheet" type="text/css" href="assets/css/app.css" />

</head>

<body>
    <h1>Welcome to <%= name %></h1>

    <h2><%= description %></h2>

    <script src="assets/js/app.min.js"></script>
</body>
</html>
